@import '../../constant.less';

.@{prefix-cls}-components-paging-setting-form-item {
  width: 100%;
  padding: var(--paging-setting-form-padding, 8px);
  background: var(--paging-setting-form-bg, #fafafa);
  border-radius: var(--paging-setting-form-radius, 8px);
}
