@font-face {
  font-family: 'iconfont'; /* Project id 2379845 */
  src: url('./iconfont.woff2?t=1660445892133') format('woff2'),
    url('./iconfont.woff?t=1660445892133') format('woff'),
    url('./iconfont.ttf?t=1660445892133') format('truetype');
}

.iconfont {
  font-size: 16px;
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icondownarrow::before {
  content: '\e60a';
}

.iconup::before {
  content: '\e748';
}

.iconsousuo::before {
  content: '\e6fe';
}

.iconyueduye_zitijianxiao::before {
  content: '\e60d';
}

.iconyueduye_zitizengda::before {
  content: '\e60e';
}
