@font-face {
  font-family: 'iconfont';
  src: url('./iconfont.eot?t=1613899928991'); /* IE9 */
  src: url('./iconfont.eot?t=1613899928991#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
      url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALYAAsAAAAABtQAAAKLAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCfgqBKIE3ATYCJAMMCwgABCAFhG0HUxsSBsgusG3YkxLZcMdSgJ5YARICxMN/Y9/um5mvmnY3qVaxhqZNRA7JslglQUyQiloJ/3/n8t/GGdDzy/MDJHXHqvjTS8tpOgRhCYSbUhMGhdtVMHM11aeUBrxP3DttAmXRfEA5zrHwU5elcUABjrUoshKKI2wYu+AFHibQtKBH6nJtJwsNCntUIO5zS4OGQkBRWLouVBsWFvFWRT29ToE30efjv6FoIKlk9sTb91ZNWPjV8qubX81euROQBAlweQUZm0AhrhoTt1ULxqjWTNRYBMfqFfxqnc341RKYxFGZifjr3NI2WIXy9ERCT+HRhHCJBDKogtQucAHp4+ws1+ulDTd/RPIkS5SmUv42cj/OGi3QfkqgGQ6p1U7rbtdvX70w9fzYs6+522NqvjJ9rWpSrvJ+NrMwA9Nf9dPT+dOzhbOz+bPTve5+TlDZkfwuib6RQrB0FA0qbTPrrQI+FDfvgaEYrqqf0hn8PuHAhmKoYWXRBJ7AcmVztzMyoamJGdsz9DddNRkcI9QLQoakZh5Z3SK50DdR0XKIqroTNG1YX94yIlSL0sC6G4DQ94Gk6z2yvk9yof+iYuofVf2oRtNVdG3YshycLAvUJJpUP6DcCHzmmiWJy9NoJa4m8uKIlUcR8zAd7Bsop9fRR7HElHjXGpKSUSYCj66B49B1AxqKwEZD9pWlDKf6+1nTi/qMwAPigoA0EjJRugMUZwj4WNBeIpX3pyFLwqURHYQ6fx4SYrx7alCfgQHkdYU/iPAoz8R2WYZIEkMxQsBDrQEbcp1EgAqb+9mQQepTnhALTelHzdhQRd/2Ku//dkCTfUGOFDmK8eMEzeQAlUMuuc01f99rCTpr6g7Rt0wNAAA=')
      format('woff2'),
    url('./iconfont.woff?t=1613899928991') format('woff'),
    url('./iconfont.ttf?t=1613899928991') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
      url('./iconfont.svg?t=1613899928991#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-size: 16px;
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconyueduye_zitijianxiao::before {
  content: '\e60d';
}

.iconyueduye_zitizengda::before {
  content: '\e60e';
}
