@import '~@baifendian/adhere-ui-contourblock/es/index.less';

.Wrapper {
  display: grid;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  grid-template-columns: repeat(4, 1fr);
  min-height: 100vh;
  margin: 0;
  padding: 50px;
  font-family: Arial, sans-serif;
  background: #0d102d;
  background: url('./b.png') no-repeat;
  background-size: 100% 100%;
}

.Glass {
  //height: 300px;
}
