.Glass {
  width: 300px;
  height: 300px;
}

.Wrapper {
  margin: 0;
  padding: 50px;
  background: #0D102D;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: url("./b.png") no-repeat;
  background-size: 100% 100%;
}