@import './toolBarLayout.less';
@import './scrollLayout.less';

@adhere-ui-flexlayout-grid-count: 24;

.adhere-ui-flexlayout-trblc {
  width: 100%;
  height: 100%;
  overflow: hidden;

  &.adhere-ui-flexlayout-trblc-no-autofix {
    overflow: auto;
  }

  > .adhere-ui-flexlayout {
    height: 100%;

    &.adhere-ui-flexlayout-horizontal {
      flex-wrap: nowrap;
    }
  }
}

.adhere-ui-flexlayout {
  display: flex;

  &.adhere-ui-flexlayout-trblc-auto-inner {
    height: 100%;

    &.adhere-ui-flexlayout-trblc-auto-inner-no-autofix {
      overflow: auto;
    }
  }

  // 横向
  &.adhere-ui-flexlayout-horizontal {
    flex-flow: row wrap;

    &.adhere-ui-flexlayout-horizontal-flexLayout {
      flex-wrap: nowrap;
    }

    > .adhere-ui-flexlayout-fixed {
      // 横向的栅格系统设置
      .span(@n, @i: 0) when (@i =< @n) {
        &.adhere-ui-flexlayout-fixed-col-@{i} {
          flex-basis: (@i * 100% / @n);
          max-width: (@i * 100% / @n);
        }
        .span(@n, (@i + 1));
      }
      .span(@adhere-ui-flexlayout-grid-count);
    }

    > .adhere-ui-flexlayout-auto-autoFixed {
      min-width: 0;
    }
  }

  // 纵向
  &.adhere-ui-flexlayout-vertical {
    flex-direction: column;

    > .adhere-ui-flexlayout-fixed {
      &.adhere-ui-flexlayout-fixed-gap {
        box-sizing: content-box !important;

        &:first-child {
          padding-top: 0 !important;
        }

        &:last-child {
          padding-bottom: 0 !important;
        }
      }
    }

    > .adhere-ui-flexlayout-auto {
      &.adhere-ui-flexlayout-auto-gap {
        box-sizing: content-box !important;

        &:first-child {
          padding-top: 0 !important;
        }

        &:last-child {
          padding-bottom: 0 !important;
        }
      }
    }

    > .adhere-ui-flexlayout-auto-autoFixed {
      min-height: 0;
    }
  }

  > .adhere-ui-flexlayout-fixed {
    flex-shrink: 0;

    &.adhere-ui-flexlayout-fixed-fit {
      display: flex;

      > .adhere-ui-flexlayout {
        width: 100%;
      }

      > * {
        width: 100%;
      }
    }
  }

  > .adhere-ui-flexlayout-auto {
    flex-grow: 1;

    &.adhere-ui-flexlayout-trblc-auto {
      overflow: hidden;

      &.adhere-ui-flexlayout-trblc-auto-no-autofix {
        overflow: inherit;
      }
    }

    &.adhere-ui-flexlayout-auto-fit {
      display: flex;

      > .adhere-ui-flexlayout {
        width: 100%;
      }

      > * {
        width: 100%;
      }
    }
  }
}
