//@import '~@baifendian/adhere-ui-css/lib/vars';

.adhere-ui-flex-layout-tool-bar-layout {
  //background-color: #fff;

  .adhere-ui-flex-layout-tool-bar-layout-main-auto-wrap {
    padding: 20px;
  }

  .adhere-ui-flex-layout-tool-bar-layout-top,
  .adhere-ui-flex-layout-tool-bar-layout-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;

    > .adhere-ui-flex-layout-tool-bar-layout-toolbar-item {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  .adhere-ui-flex-layout-tool-bar-layout-top {
    border-bottom: var(--adhere-line-width) var(--adhere-line-type) var(--adhere-color-border-base);
  }

  .adhere-ui-flex-layout-tool-bar-layout-bottom {
    border-top: var(--adhere-line-width) var(--adhere-line-type) var(--adhere-color-border-base);
  }
}
