@import '../../../constant.less';

.@{prefix-cls}-layout-design-field-wrapper {
  display: flex;
}

.@{prefix-cls}-layout-design-field-wrapper-fill {
  height: 100%;
}

.@{prefix-cls}-layout-design-field-wrapper-no-border {
  border: none !important;

  &:hover {
    border: none !important;
  }
}

.@{prefix-cls}-layout-droppable-container {
  width: 100%;
  padding-bottom: var(--layout-droppable-container-padding-bottom, 60px);
  overflow: auto;
}
