.Wrap {
  display: flex;
  border: 1px solid rgb(0 0 0 / 10%);
}

.Fixed {
  flex-shrink: 0;
  border-right: 1px solid rgb(0 0 0 / 10%);

  > ul {
    margin: 0;
    padding: 20px;
    list-style: none;

    &:not(:last-child) {
      border-bottom: 1px solid rgb(0 0 0 / 10%);
    }

    > li {
      &:not(:last-child) {
        margin-bottom: 20px;
      }

      :global(> .ant-btn) {
        width: 100%;
      }
    }
  }
}

.Auto {
  position: relative;
  flex-grow: 1;
  min-width: 0;
}

.OptionWrapper {
  display: flex;
  align-items: center;
  height: 15px;
}
