.adhere-ui-backtopanimation {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: none;
  width: 50px;
  height: 50px;
  background-image: url(./weibiaoti.png);
  background-size: 100% 100%;

  &:hover {
    cursor: pointer;
  }
}

.adhere-ui-backtopanimation-mask {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background: transparent;
}
