/* 全局的less - modifyVars */

/* 主颜色 */
@adhere-primary-color: #2480ff;

/* 缺省的颜色 */
@adhere-normal-color: #d9d9d9;

/* 最大层级 */
@adhere-common-max-zindex: 19999;

/* 黑色 */
@adhere-black-color: #000;

/* 边框 */
@adhere-border-color: rgba(@adhere-black-color, 0.1);
