/* 全局的less - modifyVars */

/* 主颜色 */
@adhere-primary-color: #2480ff;

/* 缺省的颜色 */
@adhere-normal-color: #d9d9d9;

/* 黑色 */
@adhere-black-color: #000;

/* 边框 */
@adhere-border-color: rgba(@adhere-black-color, 0.1);

/* 缺省的文字大小 */
@adhere-base-font-size: 14px;

/* 大文字 */
@adhere-large-font-size: @adhere-base-font-size + 2px;

/* 小文字 */
@adhere-small-font-size: 12px;

/* 最大层级 */
@adhere-common-max-zindex: 19999;
