.adhere-mobile-ui-prsl-item {
  display: flex;

  > .adhere-mobile-ui-prsl-item-check {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: 20px;
    margin-right: 10px;
  }

  > .adhere-mobile-ui-prsl-item-main {
    flex: 1;
    min-width: 0;
  }
}