@import '../lessVars';

.adhere-ui-form-design-layout-widget-hover-highlight-help {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 200px;
  overflow: auto;

  &.adhere-ui-form-design-layout-widget-hover-highlight-help--hover {
    background-color: rgba(@adhere-ui-form-design-layout-widget-help-primary-color, 0.05);
    outline: 1px var(--adhere-line-type) @adhere-ui-form-design-layout-widget-help-primary-color;

    > .adhere-ui-form-design-layout-widget-hover-highlight-help-title {
      position: absolute;
      top: 0;
      left: 0;
      padding: 5px;
      color: #fff;
      background-color: rgba(@adhere-ui-form-design-layout-widget-help-primary-color, 0.5);
    }

    > .adhere-ui-form-design-layout-widget-hover-highlight-help-name {
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px;
      color: springgreen;
    }
  }
}
