.adhere-ui-search-table-reload-table-btn {
  //color: var(adhere-color-text-secondary);
  color: var(--reload-table-btn-color, var(adhere-color-text-secondary));
  //font-size: 16px;
  font-size: var(--reload-table-btn-font-size, 16px);

  &:hover {
    cursor: pointer;
  }
}
