@import '~@baifendian/adhere-ui-suspense/es/index.less';
@import '~@baifendian/adhere-ui-flexlayout/es/index.less';
@import '~@baifendian/adhere-ui-slidelayout/es/index.less';
@import '~@baifendian/adhere-ui-space/es/index';
@import '~@baifendian/adhere-ui-split/es/index';
@import '~@baifendian/adhere-ui-tablegridlayout/es/index';
@import '~@baifendian/adhere-ui-fieldgeneratortodict/es/index';
@import '~@baifendian/adhere-ui-css/es/iconfont/iconfont.less';
@import '~@baifendian/adhere-ui-globalindicator/es/index';
@import '~@baifendian/adhere-ui-prompt-successprompt/es/index';
@import '~@baifendian/adhere-ui-prompt-errorprompt/es/index';

@import './Extension/ColumnSetting/index';
@import './Extension/ColumnSetting/Setting';
@import './Extension/TableDensitySetting/index';
@import './Extension/TableDensitySetting/Setting';
@import './Extension/AdvancedSearchPanel/index';
@import './Extension/DisabledOption/index';
@import './Extension/OptionsWrap/index';
@import './Extension/EditableCell/Edit/index';
@import './Extension/EditableCell/View/index';
@import './Extension/EditableCell/EditableRowControl/index';
@import './Extension/DragSort/RowDragSort/index';
@import './Extension/ExportExcel/index';
@import './Extension/ReloadTable/index';
@import './Extension/ColumnTipTitle/index';
@import './ProTable.less';
@import './Extension/DragSort/RowDragSort/DragSortColumn/index.less';

@adhere-ui-search-table-search-footer-item-search-btn-icon-color: #fff;
@adhere-ui-search-table-background-color: #f0f2f5;
@adhere-ui-search-table-split: 20px;

.adhere-ui-search-table-implement-wrap {
  width: 100%;
  height: 100%;
}

.adhere-ui-search-table-wrap {
  display: flex;
  width: 100%;

  > .adhere-ui-search-table-form {
    display: flex;
    width: 100%;
  }

  > .adhere-ui-suspense {
    overflow: auto;

    .adhere-ui-search-table {
      position: relative;
      height: 100%;

      &.fixed-table-space-between {
        > .adhere-ui-search-table-auto-wrapper {
          > .adhere-ui-search-table-table-wrapper {
            .ant-table-wrapper {
              height: 100%;

              > .ant-spin-nested-loading {
                > .ant-spin-container {
                  display: flex;
                  flex-direction: column;

                  > .ant-table {
                    flex-grow: 1;
                    min-height: 0;

                    > .ant-table-container {
                      display: flex;
                      flex-direction: column;
                      height: 100%;

                      > .ant-table-header {
                        flex-shrink: 0;
                      }

                      > .ant-table-body {
                        flex-grow: 1;
                        min-height: 0;
                        max-height: initial !important;
                        overflow-y: auto !important;

                        > table {
                          > .ant-table-tbody {
                            > .ant-table-row {
                              > .ant-table-cell {
                                &.ant-table-cell-with-append {
                                  //display: flex;
                                  //align-items: center;
                                  > .ant-table-row-expand-icon {
                                    &.ant-table-row-expand-icon-collapsed {
                                      margin-top: 0;
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .adhere-ui-search-table-table-wrapper {
        > .ant-table-wrapper {
          > .ant-spin-nested-loading {
            > .ant-spin-container {
              > .ant-table-empty {
                > .ant-table-container {
                  > .ant-table-body {
                    max-height: initial !important;
                  }
                }
              }
            }
          }
        }
      }

      > div {
        &:not(:last-child) {
          margin-bottom: @adhere-ui-search-table-split;
        }
      }

      > .adhere-ui-search-table-search-wrapper {
        > div {
          &:not(:last-child) {
            margin-bottom: @adhere-ui-search-table-split;
          }
        }

        .adhere-ui-search-table-search-footer-wrapper {
          display: flex;
          align-items: center;
          justify-content: flex-end;

          > .adhere-ui-search-table-search-footer-item {
            display: flex;
            align-items: center;

            &:not(:last-child) {
              margin-right: 15px;
            }

            &.ant-btn {
              display: flex;
            }

            .adhere-ui-search-table-search-footer-item-search-btn-icon {
              color: @adhere-ui-search-table-search-footer-item-search-btn-icon-color;
              font-size: var(adhere-font-size-base);
            }
          }
        }
      }

      > .adhere-ui-search-table-auto-wrapper {
        position: relative;
        border-radius: 2px;

        &.autofixed {
          overflow-y: auto;
        }

        > .adhere-ui-search-table-table-wrapper {
          width: 100%;

          > .ant-table-wrapper {
            height: 100%;
          }
        }
      }

      .adhere-ui-search-table-resizable-handle {
        position: absolute;
        right: -5px;
        bottom: 0;
        z-index: 1;
        width: 10px;
        height: 100%;
        cursor: col-resize;
      }
    }

    .adhere-ui-search-table-implement-table-wrapper {
      height: 100%;

      > .adhere-ui-search-table {
        > .adhere-ui-search-table-search-wrapper {
          > .adhere-ui-search-table-search-form-tool-bar {
            display: flex;
            align-items: center;

            > .adhere-ui-search-table-search-form-tool-bar-default-panel {
              flex: 1;
              min-width: 0;
              margin-right: 15px;
            }

            > .adhere-ui-search-table-search-form-tool-bar-items {
              display: flex;
              flex-shrink: 1;
              align-items: center;

              > .adhere-ui-search-table-search-form-tool-bar-item {
                &:not(:last-child) {
                  margin-right: 10px;
                }

                &.ant-btn {
                  display: flex;
                }

                .adhere-ui-search-table-search-footer-item-search-btn-icon {
                  color: @adhere-ui-search-table-search-footer-item-search-btn-icon-color;
                  font-size: var(adhere-font-size-base);
                }

                > .adhere-ui-search-table-search-footer-item-expand-search-up-btn {
                  display: flex;
                  align-items: center;

                  > span {
                    margin-right: 5px;
                  }

                  > i {
                    color: var(--adhere-color-primary);
                    font-size: var(--adhere-font-size-lg);
                  }
                }

                > .adhere-ui-search-table-search-footer-item-expand-search-down-btn {
                  display: flex;
                  align-items: center;

                  > span {
                    margin-right: 5px;
                  }

                  > i {
                    color: var(--adhere-color-primary);
                    font-size: var(--adhere-font-size-lg);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.adhere-ui-search-table-search-tool-bar {
  display: flex;

  > .adhere-ui-search-table-search-tool-bar-title {
    display: flex;
    flex-shrink: 1;

    > .adhere-ui-search-table-search-tool-bar-title-inner {
      display: flex;
      align-items: center;

      > .adhere-ui-search-table-search-tool-bar-title-content {
        margin: 0 5px;
        color: var(--adhere-color-text-secondary);
        font-weight: 500;
        font-size: 16px;
      }

      > .adhere-ui-search-table-search-tool-bar-title-info {
        font-size: 16px;

        &:hover {
          color: var(--adhere-color-primary);
          cursor: help;
        }
      }
    }
  }

  > .adhere-ui-search-table-search-tool-bar-auto {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    min-width: 0;

    > .adhere-ui-search-table-search-tool-bar-extra {
      flex: 1;
      min-width: 0;
    }

    > .adhere-ui-search-table-search-tool-bar-actions {
      display: flex;
      flex-shrink: 1;
    }
  }
}
