.adhere-mobile-ui-prsl-toolbar-item {
  display: flex;
  align-items: center;

  > .adhere-mobile-ui-prsl-toolbar-item-icon {
    font-size: 20px;
    margin-right: 2px;
  }

  > .adhere-mobile-ui-prsl-toolbar-item-label {
    font-size: 14px;
  }
}