.adhere-mobile-ui-prsl-toolbar-item {
  display: flex;
  //align-items: center;
  align-items: var(--toolbar-item-align-items, center);

  > .adhere-mobile-ui-prsl-toolbar-item-icon {
    //margin-right: 2px;、
    margin-right: var(--toolbar-item-icon-margin-right, 2px);
    //font-size: 20px;
    font-size: var(--toolbar-item-icon-font-size, 20px);
  }

  > .adhere-mobile-ui-prsl-toolbar-item-label {
    //font-size: 14px;
    font-size: var(--toolbar-item-label-font-size, 14px);
  }
}
