@import "~@baifendian/adhere-ui-globalindicator/lib/index.less";

.ScrollWrap {
  position: relative;
  width: 100%;
  height: 800px;
  overflow-y: hidden;

  > .Scroll {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
}
