.adhere-mobile-ui-prsl-selection-check-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;

  > .adhere-mobile-ui-prsl-selection-check-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
