.adhere-ui-expression {
  position: relative;
  min-height: 32px;

  > .adhere-ui-expression-editor {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 4px 11px;
    overflow: hidden;
    color: var(--adhere-color-text);
    line-height: 22px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    border: var(--adhere-line-width) var(--adhere-line-type) var(--adhere-color-border-base);
    border-radius: 6px;
    transition: all 0.2s;

    &:focus {
      border-color: var(--adhere-primary-color);
      outline: 0;
      box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
      border-inline-end-width: 1px;
    }

    .text {
      color: var(--adhere-color-text);
    }

    .operator {
      color: var(--adhere-primary-color);
      font-weight: bold;
    }
  }

  > .adhere-ui-expression-editor-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 4px 11px;
    overflow: hidden;
    color: #999;
    line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;

    &.adhere-ui-expression-editor-placeholder--show {
      display: block;
    }
  }

  > .adhere-ui-expression-operators {
    position: fixed;
    display: none;
    width: 20%;
    min-width: 150px;
    max-width: 20rem;
    max-height: 12rem;
    margin: 0;
    padding: 0 1.5rem 0.5rem 0.5rem;
    overflow-y: auto;
    list-style: none;
    background-color: #fafafa;
    border: var(--adhere-line-width) var(--adhere-line-type) var(--adhere-color-border-base);
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 4px 1px;

    &.adhere-ui-expression-operators--show {
      display: block;
    }

    > li {
      padding: 10px;
      color: var(--adhere-primary-color);
      font-weight: 600;

      &:first-of-type {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: right;
        height: 32px;
        border-bottom: var(--adhere-line-width) var(--adhere-line-type)
          var(--adhere-color-border-base);

        &:hover {
          background-color: transparent;
          cursor: default;
        }

        > i {
          font-size: 20px;

          &:hover {
            cursor: pointer;
          }
        }
      }

      &:hover {
        background-color: rgba(var(--adhere-primary-color-rgb), 0.3);
        cursor: pointer;
      }
    }
  }

  > .adhere-ui-expression-quick-tips {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    border: var(--adhere-line-width) var(--adhere-line-type) var(--adhere-color-border-base);

    &.adhere-ui-expression-quick-tips--show {
      display: block;
    }

    > li {
      padding: 10px;
      color: var(--adhere-primary-color);
      font-weight: 600;

      &:first-of-type {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: right;
        height: 32px;
        border-bottom: var(--adhere-line-width) var(--adhere-line-type)
          var(--adhere-color-border-base);

        &:hover {
          background-color: transparent;
          cursor: default;
        }

        > i {
          font-size: 20px;

          &:hover {
            cursor: pointer;
          }
        }
      }

      &:hover {
        background-color: rgba(var(--adhere-primary-color-rgb), 0.3);
        cursor: pointer;
      }
    }
  }
}

.adhere-ui-expression-view {
  .text {
    color: var(--adhere-color-text);
  }

  .operator {
    color: var(--adhere-primary-color);
    font-weight: bold;
  }
}
