:global {
  .StickupLayout {
    .adhere-ui-stickuplayout-fixed {
      > .adhere-ui-stickuplayout-item-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        border: var(--adhere-line-width) var(--adhere-line-type) var(--adhere-color-border-base);

        > .title {
          font-weight: bold;
        }
      }
    }

    .adhere-ui-stickuplayout-inner {
      margin: 0;
      padding: 0;
      list-style: none;

      > .adhere-ui-stickuplayout-item {
        position: static;
        margin: 0;
        padding: 0;

        &::before {
          width: 0;
          height: 0;
          content: '';
        }

        > .adhere-ui-stickuplayout-item-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 15px;
          border: var(--adhere-line-width) var(--adhere-line-type) var(--adhere-color-border-base);

          > .title {
            font-weight: bold;
          }
        }

        > .adhere-ui-stickuplayout-item-content {
          > table {
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;

            > tr {
              > td {
                padding: 15px;
                font-size: 12px;
                border: var(--adhere-line-width) var(--adhere-line-type)
                  var(--adhere-color-border-base);

                &:first-child {
                  background-color: var(--adhere-color-text-tertiary);
                }
              }
            }
          }
        }
      }
    }
  }
}
