/**
    Name:       IDEA default theme
    From IntelliJ IDEA by JetBrains
 */

.cm-s-idea span.cm-meta {
  color: #808000;
}
.cm-s-idea span.cm-number {
  color: #0000ff;
}
.cm-s-idea span.cm-keyword {
  color: #000080;
  font-weight: bold;
  line-height: 1em;
}
.cm-s-idea span.cm-atom {
  color: #000080;
  font-weight: bold;
}
.cm-s-idea span.cm-def {
  color: #000000;
}
.cm-s-idea span.cm-variable {
  color: black;
}
.cm-s-idea span.cm-variable-2 {
  color: black;
}
.cm-s-idea span.cm-variable-3,
.cm-s-idea span.cm-type {
  color: black;
}
.cm-s-idea span.cm-property {
  color: black;
}
.cm-s-idea span.cm-operator {
  color: black;
}
.cm-s-idea span.cm-comment {
  color: #808080;
}
.cm-s-idea span.cm-string {
  color: #008000;
}
.cm-s-idea span.cm-string-2 {
  color: #008000;
}
.cm-s-idea span.cm-qualifier {
  color: #555;
}
.cm-s-idea span.cm-error {
  color: #ff0000;
}
.cm-s-idea span.cm-attribute {
  color: #0000ff;
}
.cm-s-idea span.cm-tag {
  color: #000080;
}
.cm-s-idea span.cm-link {
  color: #0000ff;
}
.cm-s-idea .CodeMirror-activeline-background {
  background: #fffae3;
}

.cm-s-idea span.cm-builtin {
  color: #30a;
}
.cm-s-idea span.cm-bracket {
  color: #cc7;
}
.cm-s-idea {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.cm-s-idea .CodeMirror-matchingbracket {
  color: black !important;
  outline: 1px solid grey;
}

.CodeMirror-hints.idea {
  color: #616569;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #ebf3fd !important;
}

.CodeMirror-hints.idea .CodeMirror-hint-active {
  color: #5c6065 !important;
  background-color: #a2b8c9 !important;
}
