//@import '~@baifendian/adhere-ui-css/es/vars.less';

.adhere-ui-context-menu-menu-item() {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;

  &.disabled {
    &:hover {
      background-color: initial;
      border-color: initial;

      > .adhere-ui-context-menu-sub-menu {
        display: none !important;
      }
    }

    > .adhere-ui-context-menu-menu-item-icon {
      color: var(--adhere-color-text-secondary);
    }

    > .adhere-ui-context-menu-menu-item-name {
      color: var(--adhere-color-text-secondary);
    }

    > .adhere-ui-context-menu-menu-item-more {
      color: var(--adhere-color-text-secondary);
    }
  }

  &:hover {
    background-color: rgba(var(--adhere-color-primary-rgb), 0.5);
    border-color: rgba(var(--adhere-color-primary-rgb), 0.4);

    > .adhere-ui-context-menu-sub-menu {
      display: block !important;
    }
  }

  > .adhere-ui-context-menu-menu-item-icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 100%;
    margin: 0 10px;
  }

  > .adhere-ui-context-menu-menu-item-name {
    flex-grow: 1;
    min-width: 0;
    overflow: hidden;
    color: var(--adhere-color-text-secondary);
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  > .adhere-ui-context-menu-menu-item-more {
    flex-shrink: 0;
    margin-right: 5px;
    color: var(--adhere-color-text);
    font-size: var(--adhere-font-size-sm);
  }

  > .adhere-ui-context-menu-sub-menu {
    top: 0;
    left: 100%;
    display: none;
  }
}

.adhere-ui-context-menu-menu-item-separation() {
  height: 1px;
  margin: 5px 0;
  background-color: var(--adhere-color-border-base);
}
