.adhere-ui-interactionlayer,
.adhere-ui-interactionlayer-assist {
  position: absolute;
  top: 0;
  left: 0;
}

.adhere-ui-interactionlayer {
  z-index: 2;
}

.adhere-ui-interactionlayer-assist {
  z-index: 1;
}
