@import './cropping/index';

.adhere-ui-polygon-selection,
.adhere-ui-polygon-selection-assist {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}

.adhere-ui-polygon-selection {
  z-index: 3;
}

.adhere-ui-polygon-selection-assist {
  z-index: 1;
}
