.adhere-ui-search-table-column-tip-title {
  display: inline-flex;
  align-items: center;

  > .adhere-ui-search-table-column-tip-title-info {
    //margin: 0 5px;
    margin: var(--column-tip-title-info-margin, 0 5px);
    //color: var(--adhere-color-text-secondary);
    color: var(--column-tip-title-info-color, var(--adhere-color-text-secondary));

    &:hover {
      //color: var(--adhere-color-primary);
      color: var(--column-tip-title-info-hover-color, var(--adhere-color-primary));
      cursor: help;
    }
  }
}
