//@import '~@baifendian/adhere-ui-css/es/vars';

@adhere-ui-jd-category-tab-menu-item-active-color: #f15353;
@adhere-ui-jd-category-tab-menu-item-background-color: #f3f4f6;

/* 京东的分类面板 */
.adhere-ui-jd-category-tab {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  > .adhere-ui-jd-category-tab-menu {
    position: relative;
    float: left;
    width: 4rem;
    height: 100%;
    overflow: hidden;
    overflow-scrolling: touch;

    > .adhere-ui-jd-category-tab-menu-inner {
      margin: 0;
      padding: 0;
      list-style: none;

      > .adhere-ui-jd-category-tab-menu-item {
        margin: 0;
        padding: 0;

        &::before,
        &::after {
          width: 0;
          height: 0;
          content: normal;
        }

        &:not(:last-child) {
          > a {
            border-bottom: var(--adhere-line-width) var(--adhere-line-type) var(--adhere-color-border-base);
          }
        }

        &.active {
          > a {
            color: @adhere-ui-jd-category-tab-menu-item-active-color;
            //background: #fff;
            border-right: var(--adhere-line-width) var(--adhere-line-type) #fff;
          }
        }

        > a {
          display: block;
          box-sizing: border-box;
          width: 100%;
          height: 3rem;
          font-size: var(--adhere-font-size-base);
          line-height: 3rem;
          white-space: nowrap;
          text-align: center;
          text-overflow: ellipsis;
          word-wrap: break-word;
          word-break: break-all;
          background: @adhere-ui-jd-category-tab-menu-item-background-color;
          border-right: var(--adhere-line-width) var(--adhere-line-type) var(--adhere-color-border-base);
        }
      }
    }
  }

  > .adhere-ui-jd-category-tab-tab {
    height: 100%;
    margin: 0 0 0 4rem;
    padding: 0;
    list-style: none;

    > .adhere-ui-jd-category-tab-tab-item {
      display: none;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      overflow-scrolling: touch;

      &::before,
      &::after {
        width: 0;
        height: 0;
        content: normal;
      }

      &.active {
        display: block;
      }
    }
  }
}
