.adhere-ui-tabs-jumbo-tabs {
  width: 100%;
  height: 100%;

  .adm-jumbo-tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    > .adm-jumbo-tabs-header {
      flex-shrink: 0;
    }

    > .adm-jumbo-tabs-content {
      flex: 1;
      min-height: 0;
    }
  }
}
