@import '../../constant.less';

.@{prefix-cls}-field-with-tip {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--fd-field-tip-gap, 8px);
}

.@{prefix-cls}-field-tip {
  text-align: left;
  width: 100%;
}
