@import '../../constant.less';

.@{prefix-cls}-design-table-grid-layout {
  width: 100%;

  .adhere-ui-table-grid-layout-inner-wrap {
    overflow: hidden;
  }

  .adhere-ui-table-grid-layout-table {
    .adhere-ui-table-grid-layout-table-row {
      transition: background 0.15s ease;
    }
  }

  .@{prefix-cls}-components-monaco-editor-form-item {
  }
}
