.adhere-ui-search-table-column-tip-title {
  display: inline-flex;
  align-items: center;

  > .adhere-ui-search-table-column-tip-title-info {
    margin: 0 5px;
    color: var(adhere-color-text-secondary);

    &:hover {
      cursor: help;
      color: var(adhere-color-primary);
    }
  }
}
