@import '../../../constant.less';

.@{prefix-cls}-collapse-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &.ant-collapse {
    .ant-collapse-item {
      display: flex;
      flex-direction: column;
      min-height: 0;

      .ant-collapse-panel {
        height: 100%;

        .ant-collapse-body {
          display: flex;
          flex-direction: column;
          min-height: 0;
        }
      }
    }
  }
}
