@import './Extension/ColumnSetting/setting';
@import './Extension/TableDensitySetting/setting';
@import './Extension/AdvancedSearchPanel/index';
@import './Extension/DisabledOption/index';
@import './Extension/OptionsWrap/index';
@import './Extension/EditableCell/Edit/index';
@import './Extension/EditableCell/View/index';
@import "./Extension/EditableCell/EditableRowControl/index";
@import "./Extension/DragSort/RowDragSort/index";
@import './ProTable.less';

@adhere-ui-searchtable-searchfooteritem-search-btn-icon-color: #fff;
@adhere-ui-searchtable-background-color: #f0f2f5;

.adhere-ui-searchtableimplement-wrap {
  width: 100%;
  height: 100%;
}

.adhere-ui-searchtable-wrap {
  display: flex;
  width: 100%;

  > .adhere-ui-searchtable-form {
    display: flex;
    width: 100%;
  }

  > .adhere-ui-suspense {
    overflow: auto;

    .adhere-ui-searchtable {
      position: relative;
      padding: 24px;
      background-color: @adhere-ui-searchtable-background-color;

      .adhere-ui-searchtable-tablewrapper {
        > .ant-table-wrapper {
          > .ant-spin-nested-loading {
            > .ant-spin-container {
              > .ant-table-empty {
                > .ant-table-container {
                  > .ant-table-body {
                    max-height: initial !important;
                  }
                }
              }
            }
          }
        }
      }

      > .adhere-ui-searchtable-searchwrapper {
        margin-bottom: 16px;
        padding: 24px 24px 0;
        background: #fff;

        .adhere-ui-searchtable-searchfooterwrapper {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-bottom: 20px;

          > .adhere-ui-searchtable-searchfooteritem {
            display: flex;
            align-items: center;

            &:not(:last-child) {
              margin-right: 10px;
            }

            &.ant-btn {
              display: flex;
            }

            .adhere-ui-searchtable-searchfooteritem-search-btn-icon {
              color: @adhere-ui-searchtable-searchfooteritem-search-btn-icon-color;
              font-size: @adhere-base-font-size;
            }

            > .adhere-ui-searchtable-searchfooteritem-expand-search-up-btn {
              display: flex;
              align-items: center;

              > span {
                margin-right: 5px;
              }

              > i {
                color: @adhere-primary-color;
                font-size: @adhere-large-font-size;
              }
            }

            > .adhere-ui-searchtable-searchfooteritem-expand-search-down-btn {
              display: flex;
              align-items: center;

              > span {
                margin-right: 5px;
              }

              > i {
                color: @adhere-primary-color;
                font-size: @adhere-large-font-size;
              }
            }
          }
        }
      }

      > .adhere-ui-searchtable-autowrapper {
        position: relative;
        background: #fff;
        border-radius: 2px;

        &.autofixed {
          overflow-y: auto;
        }

        > .adhere-ui-searchtable-tablewrapper {
          width: 100%;

          > .ant-table-wrapper {
            height: 100%;
          }
        }
      }

      &.fixedtablespacebetween {
        > .adhere-ui-searchtable-autowrapper {
          > .adhere-ui-searchtable-tablewrapper {
            .ant-table-wrapper {
              height: 100%;

              > .ant-spin-nested-loading {
                > .ant-spin-container {
                  display: flex;
                  flex-direction: column;

                  > .ant-table {
                    flex-grow: 1;
                    min-height: 0;

                    > .ant-table-container {
                      display: flex;
                      flex-direction: column;
                      height: 100%;

                      > .ant-table-header {
                        flex-shrink: 0;
                      }

                      > .ant-table-body {
                        flex-grow: 1;
                        min-height: 0;
                        max-height: initial !important;
                        overflow-y: auto !important;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .adhere-ui-searchtable-resizable-handle {
        position: absolute;
        right: -5px;
        bottom: 0;
        z-index: 1;
        width: 10px;
        height: 100%;
        cursor: col-resize;
      }
    }

    .adhere-ui-searchtableimplement-tablewrapper {
      height: 100%;
    }
  }
}
