.adhere-ui-search-table-protable-headeritem {
  &:not(:last-child) {
    margin-right: 10px;
  }

  > a {
    > img {
      width: 25px;
    }
  }
}

.adhere-ui-search-table-protable-grid-search-form-group-wrap {
  width: 100%;
  //margin-bottom: 20px;

  > .adhere-ui-table-grid-layout-inner-wrap {
    > .adhere-ui-table-grid-layout-table {
      > .adhere-ui-table-grid-layout-table-row {
        > .adhere-ui-table-grid-layout-table-row-value {
          white-space: normal;
        }
      }
    }
  }
}

.adhere-ui-search-table-protable-headersearchwrap {
  > .adhere-ui-search-table-protable-headersearchwrap-main {
    padding: 5px 5px 10px;

    .ant-select,
    .ant-picker,
    .ant-input-number {
      width: 100%;
    }
  }

  > .adhere-ui-search-table-protable-headersearchwrap-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: var(--adhere-line-width) var(--adhere-line-type) var(--adhere-color-border-base);
  }
}
