@import '~antd-mobile/es/components/toast/toast.css';
@import '~antd-mobile/es/components/modal/modal.css';
@import '~antd-mobile/es/components/modal/modal.patch.css';

  .adhere-mobile-warn-prompt {
  display: flex;
  align-items: center;

  .adhere-mobile-warn-prompt-dialog-icon {
    flex-shrink: 0;
    margin-right: 15px;
    color: #faad14;
    font-size: 22px;
  }

  .adhere-mobile-warn-prompt-dialog-content {
    flex: 1;
    min-width: 0;
    color: var(--adhere-color-text-base);
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
  }
}
