@import './SearchHistory';
@layer adhere {
  .adhere-mobile-ui-prsl-search-keyword-wrapper {
    flex-shrink: 0;
    //padding: 20px;
    padding: var(--search-keyword-wrapper-padding, 20px);

    .adhere-mobile-ui-prsl-search-keyword-trigger {
      pointer-events: none;
    }
  }
}
