.adhere-ui-form-design {
  display: flex;
  flex-direction: column;

  .ant-tabs {
    height: 100%;

    .ant-tabs-tabpane {
      height: 100%;
    }
  }

  .adhere-ui-form-design-fixed {
    flex-shrink: 0;
  }

  .adhere-ui-form-design-vertical-auto {
    flex: 1;
    min-height: 0;
  }

  .adhere-ui-form-design-horizontal-auto {
    flex: 1;
    min-width: 0;
  }

  > .adhere-ui-form-design-tool-bar {
  }

  > .adhere-ui-form-design-footer-bar {
  }

  > .adhere-ui-form-design-main {
    display: flex;

    > .adhere-ui-form-design-wq-view {
      width: 300px;
    }

    > .adhere-ui-form-design-area {
    }

    > .adhere-ui-form-design-wf-view {
      width: 300px;
    }
  }
}
