.SliderWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  .Label {
    flex-shrink: 0;
  }

  .Value {
    margin: 0 10px;
    flex-basis: 200px;
  }
}

.Map {
  display: flex;
  justify-content: center;
}
