.adhere-ui-stickuplayout,
.adhere-ui-stickuplayout .adhere-ui-stickuplayout-inner {
  height: 100%;
  margin: 0;
  padding: 0;
}

.adhere-ui-stickuplayout {
  position: relative;
  width: 100%;
  overflow: hidden;

  .adhere-ui-stickuplayout-inner {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
    overflow-scrolling: touch;

    .adhere-ui-stickuplayout-item-content {
      position: relative;
    }
  }

  .adhere-ui-stickuplayout-fixed {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: #fff;
  }
}

.adhere-ui-stickuplayout-mask {
  position: fixed;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  background: transparent;
}
