.BMapWrap {
  width: 100%;
  height: 600px;
}

.ToolBar {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  :global(> .ant-btn) {
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
