.adhere-mobile-ui-ant-hoc-tree-filter {
  display: flex;
  flex-direction: column;

  > .adhere-mobile-ui-ant-hoc-tree-filter-search {
    flex-shrink: 0;
    padding: 15px;
  }

  > .adhere-mobile-ui-ant-hoc-tree-filter-tree {
    flex: 1;
    min-height: 0;
  }
}
