@import '../../constant';

.@{prefix-cls}-components-rules-setting-form-item {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &-rules {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
