@import '../../constant.less';

.@{prefix-cls}-components-monaco-editor-form-item {
  box-sizing: border-box;
  max-width: 100%;

  .monaco-editor,
  .monaco-editor-background {
    border-radius: inherit;
  }
}
