@import '~spin.js/spin.css';

.adhere-ui-spin {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 50%);

  > .adhere-ui-spin-text {
    color: var(--adhere-color-primary);
  }

  > .adhere-ui-spin-dot {
    position: relative;
    width: 50px;
    height: 60px;
    animation: adhere-ui-spin-rotate 1.2s infinite linear;
  }
}

@keyframes adhere-ui-spin-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
