.adhere-ui-searchtable-advancedsearchpanel {
  padding: 0;
}

.adhere-ui-searchtable-advancedsearchpanel-inner {
  height: 100%;

  .adhere-ui-searchtable-advancedsearchpanel-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f0f0f0;

    > .adhere-ui-searchtable-advancedsearchpanel-title {
      display: flex;
      align-items: center;
    }

    > .adhere-ui-searchtable-advancedsearchpanel-collapse {
      display: flex;
      align-items: center;
      color: #999;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .adhere-ui-searchtable-advancedsearchpanel-main {
    display: flex;
    flex-direction: column;

    > .adhere-ui-searchtable-advancedsearchpanel-scroll {
      flex-grow: 1;
      min-height: 0;

      > .adhere-ui-searchtable-advancedsearchpanel-scroll-innner {
        overflow-x: hidden;

        > .adhere-ui-tablegridlayout-inner-wrap {
          > .adhere-ui-tablegridlayout-table {
            > .adhere-ui-tablegridlayout-table-row {
              > .adhere-ui-tablegridlayout-table-row-value {
                white-space: normal;
              }
            }
          }
        }
      }
    }

    > .adhere-ui-searchtable-advancedsearchpanel-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0;

      > .adhere-ui-searchtable-advancedsearchpanel-item {
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }
}
