.Wrapper {
  :global {
    .adm-list-body-inner {
      display: grid;
      grid-template-columns: 50% 50%;
      white-space: nowrap;
      grid-column-gap: 6px;
      grid-row-gap: 6px;
    }
  }
}