@import url('../constant.less');

.@{prefix-cls}-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 0;

  > .@{prefix-cls}-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    min-height: 0;
  }
}
