//@import '~@baifendian/adhere-ui-css/es/vars.less';
@import './load-awesome.less';

.adhere-ui-pull-refresh {
  position: relative;
  overflow: hidden;

  > .adhere-ui-pull-refresh-scroll {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden auto;
  }

  > .adhere-ui-pull-refresh-trigger {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    transform: translate3d(0, -100%, 0);

    > .adhere-ui-pull-refresh-trigger-inner {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      > .adhere-ui-pull-refresh-trigger-icon {
        position: absolute;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 60px;

        > .adhere-ui-pull-refresh-trigger-icon-inner {
          display: flex;
          align-items: center;
          justify-content: center;
          transform: rotate(180deg);
          transform-origin: center center;
        }

        > img {
          max-width: 40px;
          height: 40px;
        }
      }

      > .adhere-ui-pull-refresh-trigger-label,
      .adhere-ui-pull-refresh-trigger-update {
        margin: 0;
        padding: 5px;
      }

      > .adhere-ui-pull-refresh-trigger-label {
        color: var(--adhere-color-text-secondary);
        font-size: var(--adhere-font-size-lg);
      }

      > .adhere-ui-pull-refresh-trigger-update {
        color: var(--adhere-color-text-tertiary);
        font-size: var(--adhere-font-size-lg);
      }
    }

    > .adhere-ui-pull-refresh-trigger-refresh {
      display: none;
      color: var(--adhere-color-primary);

      &.la-ball-circus {
        display: none;
      }
    }
  }
}

.adhere-ui-pull-refresh-mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  background: transparent;
}
