@import '../../../constant.less';

.@{prefix-cls}--design-properties-grid-layout-sloat-label-wrapper {
  display: inline-flex;
  gap: var(--sloat-label-wrapper-gap, 5px);
  align-items: center;
  margin-bottom: var(--sloat-label-wrapper-margin-bottom, 10px);
}
