@import '~antd-mobile/es/components/check-list/check-list.css';
@import '~antd-mobile/es/components/search-bar/search-bar.css';
@import '~antd-mobile/es/components/error-block/error-block.css';
@import '~antd-mobile/es/components/error-block/error-block.patch.css';

.adhere-mobile-ui-auto-complete {
  position: relative;
  display: flex;
  flex-direction: column;

  > .adhere-mobile-ui-auto-complete-search-bar {
    flex-shrink: 0;
    padding: 15px;
  }

  > .adhere-mobile-ui-auto-complete-body {
    flex: 1;
    min-height: 0;
    padding: 15px;
    overflow-y: auto;
  }

  .adm-floating-panel {
    position: absolute;

    .adhere-mobile-ui-auto-complete-result {
      flex-shrink: 0;
      height: 100%;
      padding: 15px;
      overflow-y: auto;
      white-space: nowrap;
      border-top: var(--adhere-line-width) var(--adhere-line-type) var(--adhere-color-border-base);

      > .adm-list {
        > .adm-list-body {
          > .adm-list-body-inner {
            > .adm-list-item {
              > .adm-list-item-content {
                > .adm-list-item-content-main {
                  position: relative;
                  width: 100%;

                  > .adhere-mobile-ui-auto-complete-result-item-close {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 9999;
                    color: red;
                    font-weight: bold;
                    font-size: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
