.adhere-mobile-ui-anthoc-input-multiple {
  .adhere-mobile-ui-anthoc-input-multiple-btn-wrapper {
    display: flex;
    align-items: center;
  }

  .adhere-mobile-ui-anthoc-input-multiple-tag-wrapper {
    margin-top: 10px;
  }
}

.adhere-mobile-ui-anthoc-input-multiple-render-trigger {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.adhere-mobile-ui-anthoc-input-multiple-placeholder {
  color: var(--adm-color-light);
}

