@import '../../constant.less';

.@{prefix-cls}-design-field-data-source-manager {
  display: flex;
  gap: 8px;

  .@{prefix-cls}-design-field-data-source-manager-menus {
    flex-shrink: 0;
  }

  .@{prefix-cls}-design-field-data-source-manager-info {
    flex: 1;
    min-width: 0;
  }
}
