//@import '~@baifendian/adhere-ui-css/lib/vars';

.adhere-ui-playground-simple-tabs {
  display: flex;
  flex-direction: column;
  width: 100%;

  > .adhere-ui-playground-simple-tabs-head {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px;
    padding: 0;
    list-style: none;
    border-bottom: var(--adhere-line-width) var(--adhere-line-type) var(--adhere-color-border-base);

    > li {
      position: relative;
      padding: 10px 0;
      text-align: center;

      &:not(:first-child) {
        margin-left: 20px;
      }

      &.active {
        color: var(--adhere-color-primary);
        transition: all 0.2s;

        &::before {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          height: 2px;
          background-color: var(--adhere-color-primary);
          content: '';
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  > .adhere-ui-playground-simple-tabs-body {
    flex-grow: 1;
    min-height: 0;
    overflow-y: auto;
  }
}
