//@import '~@baifendian/adhere-ui-css/lib/vars';

.adhere-ui-playground-anchor-navigation {
  position: relative;
  display: flex;
  height: 100%;

  > .adhere-ui-playground-anchor-navigation-auto {
    flex-grow: 1;
    min-width: 0;
  }

  > .adhere-ui-playground-anchor-navigation-fixed {
    position: relative;
    flex-shrink: 0;

    > .adhere-ui-playground-anchor-navigation-anchor {
      margin: 0;
      padding: 0;
      font-size: var(--adhere-small-font-size);
      list-style: none;
      border-left: 1px solid #f0f0f0;

      &.adhere-ui-playground-anchor-navigation-affix {
        position: fixed;
        z-index: 9999;
        padding: 16px 0;
        //background-color: #fff;
      }

      > li {
        margin-left: 0;
        padding-left: 0;
        line-height: 1.5;
        list-style: none;

        &:not(:last-child) {
          margin-bottom: 4px;
        }

        &:hover {
          cursor: pointer;

          > a {
            color: var(--adhere-primary-color);
          }
        }

        &.adhere-ui-playground-anchor-navigation-active {
          > a {
            color: var(--adhere-primary-color);
            border-left: 1px solid var(--adhere-primary-color);
            text-decoration: none;
          }
        }

        > a {
          display: block;
          width: 110px;
          margin-left: -1px;
          padding-left: 16px;
          overflow: hidden;
          color: var(--adhere-black-color);
          white-space: nowrap;
          text-overflow: ellipsis;
          border-left: 1px solid transparent;
          transition: all 0.3s ease;
          text-decoration: none;
        }
      }
    }
  }
}
