.adhere-mobile-ui-ant-hoc-paging {
  .adhere-mobile-ui-ant-hoc-paging-first-loading {
    height: 100%;
    overflow-y: hidden;
  }

  .adhere-mobile-ui-ant-hoc-paging-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;

    > .adhere-mobile-ui-ant-hoc-paging-loading-dot {
      margin-right: 20px;
    }
  }

  .adm-pull-to-refresh {
    height: 100%;

    > .adm-pull-to-refresh-content {
      height: 100%;
    }
  }

  .adhere-mobile-ui-ant-hoc-paging-scroll-load {
    height: 100%;
  }
}