.adhere-mobile-ui-ant-hoc-date-timer-popover-trigger {
  color: var(--adm-color-text);
  font-size: var(--adm-font-size-9);

  .adhere-mobile-ui-ant-hoc-date-timer-popover-placeholder {
    color: var(--adm-color-light);
  }
}