@import '../../constant.less';

.@{prefix-cls}-design-field-wrapper {
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding: var(--design-field-wrapper-padding, 2px);

  // hover的样式
  &:hover {
    //background-color: var(--design-field-wrapper-active-hover-background-color, fade(@highlight-color, 5%));
    border: var(--design-field-wrapper-active-border-color, 3px dashed @highlight-color);
  }

  // 点击了控件后的激活状态，一般是边框的样式会变类型和颜色
  &.@{prefix-cls}-design-field-wrapper-active {
    padding: var(--design-field-wrapper-active-padding, 2px 2px 40px 2px);
    border: var(--design-field-wrapper-active-border-color, 2px solid @highlight-color);
  }

  // 激活的工具栏
  > .@{prefix-cls}-design-field-wrapper-actions {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
  }
}
