@import '../../constant.less';

@import './PropertiesTab';
@import './StyleTab';
@import './PropertiesGridLayout';

.@{prefix-cls}-design-properties {
  position: relative;
  display: flex;

  &.@{prefix-cls}-design-properties-no-selected {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
