@import '../../constant.less';

@import './PropertiesTab';
@import './FlexTab';
@import './FormTab';
@import './StyleTab';
@import './ActionsTab';

.@{prefix-cls}-design-properties {
  position: relative;
  display: flex;

  &.@{prefix-cls}-design-properties-no-selected {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .@{prefix-cls}-design-properties-tabs {
    height: 100%;
    overflow-y: auto;

    > .ant-tabs-content-holder {
      > .ant-tabs-content {
        display: flex;
      }
    }
  }
}
