//@import '~@baifendian/adhere-ui-css/lib/vars.less';

.adhere-ui-globalindicator {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);

  > .adhere-ui-globalindicator-text {
    color: var(--adhere-primary-color);
  }

  > .adhere-ui-globalindicator-dot {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    animation: adhere-ui-globalindicator-rotate 1.2s infinite linear;

    > i {
      position: absolute;
      display: block;
      width: 9px;
      height: 9px;
      background-color: var(--adhere-primary-color);
      border-radius: 100%;
      transform: scale(0.75);
      transform-origin: 50% 50%;
      opacity: 0.3;
      animation: adhere-ui-globalindicator-move 1s infinite linear alternate;
    }

    > i:first-child {
      top: 0;
      left: 0;
    }

    > i:nth-child(2) {
      top: 0;
      right: 0;
      animation-delay: 0.4s;
    }

    > i:nth-child(3) {
      right: 0;
      bottom: 0;
      animation-delay: 0.8s;
    }

    > i:nth-child(4) {
      bottom: 0;
      left: 0;
      animation-delay: 1.2s;
    }
  }
}

@keyframes adhere-ui-globalindicator-rotate {
  to {
    transform: rotate(405deg);
  }
}

@keyframes adhere-ui-globalindicator-move {
  to {
    opacity: 1;
  }
}
