@import '../../constant.less';

@import './ToolboxView/index.less';
@import './OutlineView/index.less';

.@{prefix-cls}-design-toolbox-wrapper {
  height: 100%;
  min-height: 0;
}

.@{prefix-cls}-design-toolbox-tabs {
  height: 100%;
}

.@{prefix-cls}-design-toolbox-tabs-header {
  padding: 0 20px;
}

.@{prefix-cls}-design-toolbox-tabs-content {
  height: 100%;
}

.@{prefix-cls}-design-toolbox-tabs-item-icon {
  font-size: 20px;
}
