@import "~@baifendian/adhere-ui-css/lib/vars";
@import '~ol/ol.css';

.adhere-ui-olmap {
  position: relative;
  width: 100%;
  height: 100%;

  .ol-viewport {
    position: absolute;
  }

  .ol-zoom {
    top: auto;
    right: 0.5em;
    bottom: 0.5em;
    left: auto;
  }

  .ol-full-screen {
    top: auto;
    right: 0.5rem;
    bottom: 4em;
    left: auto;
  }

  .ol-attribution {
    display: none;
  }

  .ol-scale-line {
    top: auto;
    right: 3em;
    bottom: 0.5em;
    left: auto;
  }

  .ol-mouse-position {
    top: auto;
    right: 3.5em;
    bottom: 3em;
    left: auto;
    padding: 0 5px;
    color: #eee;
    font-size: @adhere-small-font-size;
    background: rgba(0, 60, 136, 0.3);
    border: 1px solid #eee;
    border-radius: 4px;
  }
}
