@import '../../../constant.less';

.@{prefix-cls}-send-sms {
  width: var(--send-sms-width, 100%);
  // 通过 css 变量控制 PhoneWithAreaCode 的 addon 宽度
  --phone-with-area-code-addon-width: var(--send-sms-send-width, 140px);
}

.@{prefix-cls}-send-sms-send {
  width: var(--send-sms-send-width, 140px);
  min-width: var(--send-sms-send-width, 140px);
}

