@layer adhere {
  .adhere-mobile-ui-popover-menu {
    .adhere-mobile-ui-popover-menu-menu {
      .adhere-mobile-ui-popover-menu-sub-menu {
        position: relative;
        display: flex;
        //align-items: center;
        align-items: var(--sub-menu-align-items, center);
        //padding-left: 20px;
        padding-left: var(--sub-menu-padding-left, 20px);

        &.adhere-mobile-ui-popover-menu-sub-menu-disabled {
          color: var(--adhere-color-text-quaternary);
        }

        > .adhere-mobile-ui-popover-menu-sub-menu-icon {
          flex-shrink: 0;
          //padding-right: 8px;
          padding-right: var(--sub-menu-icon-padding-right, 8px);
          //font-size: 20px;
          font-size: var(--sub-menu-icon-font-size, 20px);
        }

        > .adhere-mobile-ui-popover-menu-sub-menu-text {
          flex: 1;
          min-width: 0;
          //padding: 14px 20px 14px 0;
          padding: var(--sub-menu-text-padding, 14px 20px 14px 0);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          border-bottom: 1px solid var(--adhere-color-border-base);
        }

        > .adhere-mobile-ui-popover-menu-sub-menu-arrow {
          flex-shrink: 0;
          //margin-right: 10px;
          margin-right: var(--sub-menu-arrow-margin-right, 10px);
          //font-size: 14px;
          font-size: var(--sub-menu-arrow-font-size, 14px);
          //transform: rotate(270deg);
          transform: var(--sub-menu-arrow-transform, rotate(270deg));
        }
      }
    }
  }
}
