.adhere-ui-anthoc-input-multiple {

  .adhere-ui-anthoc-input-multiple-btn-wrapper {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  .adhere-ui-anthoc-input-multiple-tag-wrapper {
    margin-top: 10px;
  }
}