@import '../../constant';

.@{prefix-cls}-design-editor-droppable-container {
  min-height: var(--droppable-container-min-height, 60px);
  border: var(--droppable-container-border, 1px solid @border-color);

  &.@{prefix-cls}-design-editor-droppable-container-over {
    border-color: var(--droppable-container-over-border-color, @highlight-color);
  }
}
