@import '../../constant';

.@{prefix-cls}-design-editor-droppable-container {
  //display: flex;
  min-height: 60px;
  border: 1px solid #ddd;

  &.@{prefix-cls}-design-editor-droppable-container-over {
    border-color: orange;
  }
}
