@import '../../../constant.less';

.@{prefix-cls}-flow-layout-design-field-wrapper {
  display: flex;
  height: 100%;
}

.@{prefix-cls}-flow-layout-droppable-container {
  width: 100%;
  overflow: auto;
  padding-bottom: 60px;
}
