.adhere-ui-playground-page-section {
  > .adhere-ui-playground-page-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    > .adhere-ui-playground-page-section-header-title {
      font-size: 25px;
    }
  }
}
