@import '../../../constant.less';

.@{prefix-cls}-phone-with-area-code {
  width: 100%;
  display: flex;
}

.@{prefix-cls}-phone-with-area-code-code {
  width: var(--phone-with-area-code-code-width, 280px);
  min-width: var(--phone-with-area-code-code-width, 280px);
}

.@{prefix-cls}-phone-with-area-code-phone {
  flex: 1;
  min-width: 0;
}

