.col,
.vcol {
  &:nth-child(odd) {
    > .inner {
      background-color: @adhere-primary-color;
    }
  }

  &:nth-child(even) {
    > .inner {
      background-color: rgba(@adhere-primary-color, 0.3);
    }
  }

  > .inner {
    height: 100%;
    color: #fff;
    text-align: center;
  }
}

.col {
  height: 55px;

  > .inner {
    line-height: 55px;
  }
}
