.col,
.vcol {
  &:nth-child(odd) {
    > .inner {
      background-color: var(--common-primary-color);
    }
  }

  &:nth-child(even) {
    > .inner {
      background-color: rgba(var(--common-primary-color-rgb), 0.3);
    }
  }

  > .inner {
    height: 100%;
    color: #fff;
    text-align: center;
  }
}

.col {
  height: 55px;

  > .inner {
    line-height: 55px;
  }
}
