.adhere-ui-form-design-widget-properties-view {
  height: 100%;
  padding-right: 5px;
  overflow-y: auto;

  .adhere-ui-form-design-widget-properties-view-inner {
    > .adhere-ui-form-design-widget-property-field {
      &:not(:last-child) {
        margin-bottom: 30px;
        border-bottom: var(--adhere-line-width) var(--adhere-line-type)
          var(--adhere-color-border-base);
      }
    }
  }
}
