@import '../../constant.less';

.@{prefix-cls}-design-field-tree-data-source-form-item-static {
  width: 100%;
}

.@{prefix-cls}-design-field-tree-data-source-form-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  &-actions {
    display: flex;
    justify-content: flex-start;
  }

  &-body {
    width: 100%;
  }
}

.@{prefix-cls}-design-field-tree-data-source-form-item-dynamic {
  display: flex;
  gap: 8px;
  align-items: center;

  &-nav {
    flex: 1;
    min-width: 0;
    overflow: hidden;
  }

  &-manager-trigger {
    flex-shrink: 0;
    cursor: pointer;
  }
}
