.adhere-ui-contourblock {
  position: relative;
  padding: 50%;

  > .adhere-ui-contourblock-inner {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;

    > * {
      width: 100%;
    }

    > img {
      object-fit: cover;
    }
  }
}
