//@import '~@baifendian/adhere-ui-css/es/vars';

.adhere-ui-playground {
  border-radius: 2px;
  transition: all 0.3s ease;

  &.adhere-ui-playground-active {
    border: var(--adhere-line-width) var(--adhere-line-type) var(--adhere-color-primary);
  }

  .adhere-ui-playground-action-btn {
    width: 14px;
    margin: 0 10px;

    &:hover {
      cursor: pointer;
    }
  }
}
