.adhere-ui-playground-code-panel {
  .playground {
    > .playgroundCode {
      > .playgroundStage {
        > .CodeMirror {
          height: auto;
          overflow-y: hidden;
          > .CodeMirror-vscrollbar {
            display: none !important;
          }
        }
      }
    }

    > .playgroundPreview {
      display: none;
    }
  }
}
