@import '~@baifendian/adhere-ui-formitemcreator/lib/index.less';

// tablelist-search
@adhere-ui-tablelist-search-padding: 10px;
//@adhere-ui-tablelist-search-bg: #fff;
@adhere-ui-tablelist-search-boxshadow: none;
@adhere-ui-tablelist-search-border: none;
@adhere-ui-tablelist-search-border-radius: 4px;

// tablelist-content
@adhere-ui-tablelist-content-margin: 20px 0 0;
@adhere-ui-tablelist-content-padding: 0 10px 10px;
//@adhere-ui-tablelist-content-bg: #fff;
@adhere-ui-tablelist-content-boxshadow: none;
@adhere-ui-tablelist-content-border: none;
@adhere-ui-tablelist-content-border-radius: 4px;

// tablelist-toolbar
@adhere-ui-tablelist-toolbar-padding: 10px 0;

.adhere-ui-tablelist {
  display: flex;
  flex: auto;
  flex-direction: column;
  height: 100%;

  .adhere-ui-tablelist-search {
    display: flex;
    align-items: center;
    padding: @adhere-ui-tablelist-search-padding;
    border: @adhere-ui-tablelist-search-border;
    border-radius: @adhere-ui-tablelist-search-border-radius;
    box-shadow: @adhere-ui-tablelist-search-boxshadow;

    .adhere-ui-tablelist-search-form {
      flex: auto;

      &.ant-form-inline {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .ant-form-search {
          display: flex;
          flex: auto;
        }

        .ant-form-btngroup {
          display: flex;
          align-items: center;

          .ant-btn {
            margin: 0 5px;
          }
        }
      }

      &.adhere-ui-tablelist-search-form-havebefore {
        margin-left: 16px;
      }

      &.adhere-ui-tablelist-search-form-haveafter {
        margin-right: 16px;
      }
    }
  }

  .adhere-ui-tablelist-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: @adhere-ui-tablelist-toolbar-padding;

    .adhere-ui-tablelist-toolbar-left {
      display: flex;

      > span {
        margin-right: 10px;

        &.adhere-ui-tablelist-toolbar-left-total {
          em {
            color: var(--adhere-color-primary);
            font-weight: bold;
            font-style: normal;
          }
        }
      }
    }

    .adhere-ui-tablelist-toolbar-right {
      display: flex;
      flex: auto;
      align-items: center;
      justify-content: flex-end;

      > * {
        margin: 0 5px;
      }

      .ant-form-item {
        margin-bottom: 0;
      }

      > .anticon {
        padding: 0 10px;
        font-size: var(--adhere-font-size-lg);
      }
    }
  }

  .adhere-ui-tablelist-content {
    margin: @adhere-ui-tablelist-content-margin;
    padding: @adhere-ui-tablelist-content-padding;
    border: @adhere-ui-tablelist-content-border;
    border-radius: @adhere-ui-tablelist-content-border-radius;
    box-shadow: @adhere-ui-tablelist-content-boxshadow;

    .ant-spin-nested-loading {
      height: 100%;

      .ant-spin-container {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    }
  }
}

.adhere-ui-tablelist-settingOverlay {
  .ant-popover-title {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
  }

  .ant-popover-inner-content {
    .ant-checkbox-group {
      width: 100%;

      .ant-checkbox-wrapper {
        display: flex;
        margin-bottom: 5px;
        margin-left: 0;
      }
    }
  }
}

.adhere-ui-tablelist-row-dragging {
  background: #fafafa;
  border: var(--adhere-line-width) var(--adhere-line-type) var(--adhere-color-border-base);

  td {
    padding: 16px;
  }

  .drag-visible {
    visibility: visible;
  }
}

.adhere-ui-tablelist-set-dragging {
  z-index: var(--adhere-z-index-max-base);

  .drag-visible {
    visibility: visible;
  }
}
